html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: azure;
    justify-content: center; 
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container1 {
    font-size: 30px;
}

.box {
    background-color: rgb(175, 175, 255);
    height: 400px;
    width: 450px;
    border: 1px solid;
    border-radius: 5%;
}

.container2 {
    text-align: center;
}

#ques{
    padding: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}

.container3 {

}

.container3 ol{
    margin: 100px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0; /* Removes default padding */
    list-style-type: upper-alpha;
    text-align: center;
    list-style-position: inside;
}

.container3 li {
    flex: 1 1 50%; /* Each list item takes up half the width of the container */
    margin-bottom: 10px;
}

.container3 button {
    background-color: azure;
    border: none;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.container4 button {
    background-color:rgb(175, 175, 255);
    margin: 25px;
    padding: 15px 32px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
