html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: azure;
    justify-content: center; 
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container1 {
    font-size: 30px;

}

.box {
    background-color: rgb(175, 175, 255);
    height: 350px;
    width: 400px;
    border: 1px solid;
    border-radius: 5%;
}

.container2 {
    text-align: center;
}

#ques{
    padding: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}

.container3 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 25px;
}

button {
    background-color: azure;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    flex: 1 1 calc(50% - 10px); 
}
