html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: azure;
    justify-content: center; 
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container1 {

}

.box {
    background-color: rgb(175, 175, 255);
    height: 350px;
    width: 400px;
    border: 1px solid;
    border-radius: 5%;
}

.container2 {
    text-align: center;
}

.container3 {
    text-align: center;
}

button {
    background-color: azure;
}